# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
.venv/
.venv-build/
venv/
env/

# IDE
.vscode/

# Archivos generados
output/

# Build PyInstaller
build/
dist/

# Sistema
.DS_Store
Thumbs.db
